/* Home.css */
.section {
  min-height: 100vh; /* Ensure each section is at least 100% of the viewport height */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  padding-top: 80px;
}

.footer {
  background-color: #333;
}

/* src/assets/css/App.css */

/* Tambahkan class untuk animasi dari bawah ke atas */
section .item {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

section.visible .item {
  opacity: 1;
  transform: translateY(0);
}




.section:nth-of-type(even) {
  background-color: rgb(46, 45, 67);
  color: white; /* Text color for light backgrounds */
}

.section:nth-of-type(odd) {
  background-color: #2a2a2a;
  color: #fff; 
}

@media (max-width: 768px) {
  .section {
    padding: 10px 0;
    padding-top: 20px;
  }

  .text-cen{
    text-align: center;
  }

  .text-copy{
    font-size: 12px;
    font-weight: normal;
  }

  .text-ft {
    font-size: 14px;
  }
  
.text-send{
  font-size: 14px;
  padding: 5px 10px;
}

  .text-i {
    font-size: 16px;
  }

  .text-med{
    font-size: 18px;
  }

  .text-tf {
    font-size: 28px;
  }

  .social-icons {
    padding-top: 0;
  }
.custom-white-shadow {
  box-shadow: -6px 6px 10px rgba(255, 255, 255, 0.2);
}

}
/* App.css */
.custom-white-shadow {
  box-shadow: 6px -6px 10px rgba(255, 255, 255, 0.1);
}
