@media (min-width: 728) {
  .image-foto {
    width: 260px; /* Ukuran gambar di tampilan mobile */
    height: 260px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 0;
  }

  .text-wc {
    margin-top: 20px;
    font-size: 26px;
  }

  .text-con {
height: 50px;
width: 100%;

  }
  .text-hl{
    font-size: 21px;
    height: 50px;
  }

  .text-p{
    font-size: 18px;
  }
  

  
}

/* Tampilkan tombol hanya pada tampilan mobile */
@media (max-width: 1024px) {
  .btn-home {
    display: block; /* Tampilkan tombol pada tampilan mobile */
  padding: 0.5rem 1rem; /* Sesuaikan padding dengan ukuran teks */
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Pastikan ukuran tombol proporsional dengan ukuran teks */
  align-items: center; /* Vertikal pusat teks di dalam tombol */
  font-size: 1rem;
  font-weight: bold; 
  }
}

/* Sembunyikan tombol pada tampilan desktop */
@media (min-width: 1025px) {
  .btn-home {
    display: none; /* Sembunyikan tombol pada tampilan desktop */
  }
}
