@media (max-width: 728) {
  .image-foto {
    width: 260px; /* Ukuran gambar di tampilan mobile */
    height: 260px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 0;
  }

  .text-wc {
    margin-top: 20px;
    font-size: 26px;
  }

  .text-hl{
    font-size: 21px;
  }

  .text-p{
    font-size: 18px;
  }
}